
body {
    background-image: url("../images/bg-intro-desktop.png");
    background-color: #fa8384;

    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #ffffff;
   }

.small-text {
    font-size: smaller; 
    color: lightgrey;   
}

.purple-box {
    background-color: #5d54a3;
}

.white-box {
    background-color: white;
}

.btn-success {
    background-color: #37cc8a;
}

a {
    color: red;
    text-decoration: none;
}
